server:
  error:
    include-message: always
    include-binding-errors: always

spring:
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3306/insurancecompanydb
    username: username
    password: password
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  mail:
    host: smtp.gmail.com
    port: 587
    username: insurance.company285@gmail.com
    password: Insurance.Company285#
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  sql.init.mode: always

jwt:
  expirationTime: 1800000
  secretKey: frog-lion-monkey-penguin-tiger87

confirmation:
  token:
    time: 15

